header.header
    .header-group
        .icons
            button#header-menu.btn.header-menu.tooltip(data-info='Main menu')
                img.btn-icon.btn-icon-alt(src='/app/assets/icons/menu_black_24dp.svg', alt='Main menu')
        a.header-logo(href='#')
            img(src='/app/assets/icons/icon32.png', alt='')
    form.header-search(action='')
        .icons
            button#js-header-search.btn.btn-nofill.tooltip(data-info='Search')
                img.btn-icon.btn-icon-alt(src='/app/assets/icons/search_black_24dp.svg', alt='Search')
        input.header-search-input(type='search', placeholder='Search mail')
        .icons
            button.btn(type='reset', data-info='Options')
                img.btn-icon.btn-icon-alt(src='/app/assets/icons/clear_black_24dp.svg', alt='Options')
        .icons
            button#header-search-options.btn.tooltip(data-info='Options')
                img.btn-icon.btn-icon-alt(src='/app/assets/icons/arrow_drop_down_black_24dp.svg', alt='Options')