footer.activity
    .footer-container
        .footer-item
            span.progressbar
            a.footer-link.footer-text-sm(href='#')
                .footer-group
                    //- span  0 GB of 15 GB used
                    //- |  
                    //- span
                    //-   img.btn-icon-alt.btn-icon-sm(style='height: 18px; width: 18px; margin: 0 8px; padding: 0;', src='/app/assets/icons/open_in_new_black_24dp.svg', alt='Google drive storage')

        .footer-item
            a.footer-link.footer-text-sm(href='#`') Terms &middot;
            a.footer-link.footer-text-sm(href='#') Privacy &middot;
            a.footer-link.footer-text-sm(href='#') Program Policies
        .footer-item
            span.footer-text-sm Last activity: 37 minutes ago
            .footer-group
                a.footer-link.footer-text-sm(href='#') Details
